<nav class="flex-column">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="">Home</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/events">Event List</NavLink>
        </li>
    </ul>
</nav>
